body {
  background: #f4f2e6;
}

header {
  height: 109px;
  background: #6accbf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav {
  width: 100%;
  position: relative;
}

header nav .logo {
  width: 140px;
  height: 140px;
  position: absolute;
  top: 15px;
  left: 125px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  border-radius: 50%;
  background-color: #6accbf;
}

header nav .logo_img {
  width: 100px;
  width: 125px;
  height: 125px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

header nav .nav_content {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav_content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .nav_content ul li a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  margin-right: 30px;
  white-space: nowrap;
}

header nav .nav_content .burger_link {
  position: relative;
  display: none;
}

header nav .nav_content .burger_link .line {
  width: 70px;
  height: 3px;
  background-color: #ffffff;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  header nav .nav_content .list {
    display: none;
  }
}

@media (max-width: 768px) {
  header nav {
    height: 95px;
  }
  header nav .nav_logo .logo {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 25px;
    left: 20%;
    -webkit-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
  header nav .nav_logo .logo img {
    width: 85px;
    height: 85px;
  }
}

#footer {
  background: #f4f2e6;
  background-image: url("../pics/wave.png");
  background-size: cover;
  margin: 0 auto;
  height: 397px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

#footer .footer_content .wave {
  max-width: 1600px;
}

#footer .logo {
  width: 100px;
}

#footer .logo_and_links {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #6accbf;
  padding: 65px 58px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .logo_and_links .links_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer .logo_and_links .links_group .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

@media (max-width: 768px) {
  #footer .logo_and_links .links_group .link {
    width: 50%;
    margin: 10px;
  }
}

#footer .logo_and_links .links_group .link a {
  color: white;
  font-weight: bold;
  font-size: 24px;
  white-space: nowrap;
}

#footer .company_and_phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 20px 16px;
  position: absolute;
  left: 0;
  bottom: 0;
}

@media (max-width: 768px) {
  #footer .company_and_phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    bottom: -100px;
  }
  #footer .company_and_phone p {
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
  }
}

#footer .company_and_phone p {
  font-size: 24px;
}

.wave_img {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=template.css.map */