<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <style>
      .hot{
        background:brown;
        width: 20px;
        height: 20px;
      }
      .cold{
        background: rgb(57, 207, 245);
        width: 20px;
        height: 20px;
      }
      .item:hover{
        background: rgb(235, 218, 218);
      }
    </style>
  </head>
  <body>
    <main id="vue_menu">
      <div>
        <button class="btn btn-primary" @click="showColdDrink()">冷飲</button>
        <button class="btn btn-danger"@click="showHotDrink()">熱飲</button>
        <button class="btn btn-secondary" @click="show_cold_and_Hot_Drink()">冷熱飲</button>
      </div>
      <div class="btn_groups mt-5 pt-5 bg-light">
        <button class="btn btn-secondary me-3" @click="showAllMenu()">
          全部飲品
        </button>
        <button class="btn btn-primary me-3" @click="showFreshTea()">
          調茶飲
        </button>
        <button class="btn btn-danger me-3" @click="showHandPick_Tea()">
          嚴選茶品
        </button>
        <button class="btn btn-success me-3" @click="showMilk_and_Juice()">
          牛奶跟果汁
        </button>
        <button class="btn btn-warning me-3" @click="showTeaLatte()">
          茶拿鐵
        </button>
        <button class="btn btn-light me-3" @click="showCoffee_and_Latte()">
          咖啡跟拿鐵
        </button>
      </div>
      <div class="card border-3">
        <div class="card-body p-0">
          <div class="item d-flex justify-content-between mb-3" v-for="i in tempMenu">
            {{i.teaname}}<br>{{i.EngName}}
            <div class="d-flex">
              <div v-if="i.hot==true">
                熱飲
                <div class="hot rounded-circle"></div>
              </div>
              <div v-if="i.ice==true">
                冷飲
                <div class="cold rounded-circle"></div>
              </div>  
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      //vue新物件建立
      const viewmodel = Vue.createApp({
        data() {
          return {
            allMenu: [
            {
                teaname: "阿薩姆紅茶",
                EngName: "Assam Black Tea",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "茉香綠茶",
                EngName: "Green Tea",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "芒果綠茶",
                EngName: "Mango Green Tea",
                price: "80",
                hot: false,
                ice: true,
              },
              {
                teaname: "葡萄柚綠茶",
                EngName: "Grapefruit green Tea",
                price: "80",
                hot: false,
                ice: true,
              },
              {
                teaname: "蔓越莓綠茶",
                EngName: "Cranberry Green Tea",
                price: "80",
                hot: false,
                ice: true,
              },
              {
                teaname: "蜂蜜檸檬綠茶",
                EngName: "Lemon Honry Green Tea",
                price: "90",
                hot: false,
                ice: true,
              },
              {
                teaname: "奶茶",
                EngName: "Milk Tea",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草奶茶",
                EngName: "Vanilla Milk Tea",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果奶茶",
                EngName: "Hazelnut Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖奶茶",
                EngName: "Caramel Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖奶茶",
                EngName: "Toffee Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "鮮榨檸檬汁",
                EngName: "Lemon Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨柳橙汁",
                EngName: "Orange Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨葡萄柚汁",
                EngName: "Grapefruit Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨奇異果汁",
                EngName: "Kiwi Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "當季水果牛奶",
                EngName: "Fruit Milk",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨鮮榨蔬果汁",
                EngName: "Seasonal Fruit and Vegetable Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "皇家伯爵茶",
                EngName: "Earl Grey Tea",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "有機洋甘菊茶",
                EngName: "Organic Chamomile Tisane",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "百箱花樣水果茶",
                EngName: "Gerry Tea Pasionfruit Natural",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "萊茵野莓水果茶",
                EngName: "Strawberry Popcorn Mild Fruit ",
                price: "150",
                hot: true,
                ice: false,
              },
              {
                teaname: "原味鮮奶",
                EngName: "Original Milk",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草鮮奶",
                EngName: "Vanilla Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果鮮奶",
                EngName: "Hazelnut Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖鮮奶",
                EngName: "Caramel Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖鮮奶",
                EngName: "Toffee Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "阿薩姆紅茶牛奶",
                EngName: "Assam Black Tea Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "宇治抹茶牛奶",
                EngName: "Matcha",
                price: "120",
                hot: true,
                ice: true,
              },
              {
                teaname: "巧克力歐蕾",
                EngName: "Original Chocolate Milk",
                price: "120",
                hot: true,
                ice: true,
              },
              {
                teaname: "美式黑咖啡",
                EngName: "American Coffee",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "原味拿鐵",
                EngName: "Original Latte",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草拿鐵",
                EngName: "Vanilla Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果拿鐵",
                EngName: "Hazelnut Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖拿鐵",
                EngName: "Caramel Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖拿鐵",
                EngName: "Toffee Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "摩卡咖啡",
                EngName: "Mocha",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "卡布奇諾咖啡",
                EngName: "Cappuccino",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖瑪奇朵咖啡",
                EngName: "Caramel Macchiato",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "宇治抹茶拿鐵咖啡",
                EngName: "Coffee Matcha Latte",
                price: "120",
                hot: true,
                ice: true,
              },
            ],
            tempMenu: [],
            // 調茶飲
            FreshTea: [
              {
                teaname: "阿薩姆紅茶",
                EngName: "Assam Black Tea",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "茉香綠茶",
                EngName: "Green Tea",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "芒果綠茶",
                EngName: "Mango Green Tea",
                price: "80",
                hot: true,
                ice: false,
              },
              {
                teaname: "葡萄柚綠茶",
                EngName: "Grapefruit green Tea",
                price: "80",
                hot: true,
                ice: false,
              },
              {
                teaname: "蔓越莓綠茶",
                EngName: "Cranberry Green Tea",
                price: "80",
                hot: true,
                ice: false,
              },
              {
                teaname: "蜂蜜檸檬綠茶",
                EngName: "Lemon Honry Green Tea",
                price: "90",
                hot: true,
                ice: false,
              },
              {
                teaname: "奶茶",
                EngName: "Milk Tea",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草奶茶",
                EngName: "Vanilla Milk Tea",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果奶茶",
                EngName: "Hazelnut Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖奶茶",
                EngName: "Caramel Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖奶茶",
                EngName: "Toffee Milk Tea",
                price: "90",
                hot: true,
                ice: true,
              },
            ],
            // 手選茶飲
            HandPick_Tea: [
              {
                teaname: "皇家伯爵茶",
                EngName: "Earl Grey Tea",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "有機洋甘菊茶",
                EngName: "Organic Chamomile Tisane",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "百箱花樣水果茶",
                EngName: "Gerry Tea Pasionfruit Natural",
                price: "120",
                hot: true,
                ice: false,
              },
              {
                teaname: "萊茵野莓水果茶",
                EngName: "Strawberry Popcorn Mild Fruit",
                price: "150",
                hot: true,
                ice: false,
              },
            ],
            // 牛奶跟果汁
            Milk_and_Juice: [
              {
                teaname: "原味鮮奶",
                EngName: "Original Milk",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草鮮奶",
                EngName: "Vanilla Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果鮮奶",
                EngName: "Hazelnut Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖鮮奶",
                EngName: "Caramel Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖鮮奶",
                EngName: "Toffee Flavor Milk",
                price: "90",
                hot: true,
                ice: true,
              },
              {
                teaname: "鮮榨檸檬汁",
                EngName: "Lemon Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨柳橙汁",
                EngName: "Orange Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨葡萄柚汁",
                EngName: "Grapefruit Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨奇異果汁",
                EngName: "Kiwi Juice",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "當季水果牛奶",
                EngName: "Fruit Milk",
                price: "100",
                hot: false,
                ice: true,
              },
              {
                teaname: "鮮榨鮮榨蔬果汁",
                EngName: "Seasonal Fruit and Vegetable Juice",
                price: "100",
                hot: false,
                ice: true,
              },
            ],
            // 茶拿鐵
            TeaLatte: [
              {
                teaname: "阿薩姆紅茶牛奶",
                EngName: "Assam Black Tea Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "宇治抹茶牛奶",
                EngName: "Matcha",
                price: "120",
                hot: true,
                ice: true,
              },
              {
                teaname: "巧克力歐蕾",
                EngName: "Original Chocolate Milk",
                price: "120",
                hot: true,
                ice: true,
              },
            ],
            // 咖啡跟拿鐵
            Coffee_and_Latte: [
              {
                teaname: "美式黑咖啡",
                EngName: "American Coffee",
                price: "60",
                hot: true,
                ice: true,
              },
              {
                teaname: "原味拿鐵",
                EngName: "Original Latte",
                price: "80",
                hot: true,
                ice: true,
              },
              {
                teaname: "香草拿鐵",
                EngName: "Vanilla Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "榛果拿鐵",
                EngName: "Hazelnut Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖拿鐵",
                EngName: "Caramel Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "太妃糖拿鐵",
                EngName: "Toffee Flavor Latte",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "摩卡咖啡",
                EngName: "Mocha",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "卡布奇諾咖啡",
                EngName: "Cappuccino",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "焦糖瑪奇朵咖啡",
                EngName: "Caramel Macchiato",
                price: "100",
                hot: true,
                ice: true,
              },
              {
                teaname: "宇治抹茶拿鐵咖啡",
                EngName: "Coffee Matcha Latte",
                price: "120",
                hot: true,
                ice: true,
              },
            ],      
          };
        },
        methods: {
          showAllMenu: function () {
            this.tempMenu = this.allMenu;
          },
          showFreshTea: function () {
            this.tempMenu = this.FreshTea;
          },
          showHandPick_Tea: function () {
            this.tempMenu = this.HandPick_Tea;
          },
          showMilk_and_Juice: function () {
            this.tempMenu = this.Milk_and_Juice;
          },
          showTeaLatte: function () {
            this.tempMenu = this.TeaLatte;
          },
          showCoffee_and_Latte: function () {
            this.tempMenu = this.Coffee_and_Latte;
          },
          showColdDrink:function(){
            var coldDrink=this.allMenu.filter(
              drink=>(drink.ice==true && drink.hot==false)
            )
            this.tempMenu=coldDrink;
          },
          showHotDrink:function(){
            var HotDrink=this.allMenu.filter(
              drink=>(drink.ice==false && drink.hot==true)
            )
            this.tempMenu=HotDrink;
          },
          show_cold_and_Hot_Drink:function(){
            var cold_and_Hot_Drink=this.allMenu.filter(
              drink=>(drink.ice==true && drink.hot==true)
            )
            this.tempMenu=cold_and_Hot_Drink;
          }

        },
        //當vue物件綁定時要執行
        mounted() {},
      });
      //掛載vue物件
      viewmodel.mount("#vue_menu");
    </script>
  </body>
</html>
